<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Detalles Usuario</title>
    <meta name="description" content="HTML5">
    <meta name="author" content="LM">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
          <a id="back" class="btn" href="/">Inicio</a></li>
        </nav>
    </header>
    <main>
        <section>
            <h1>Detalles del Usuario</h1>
            <p>Muestra la informacion del Usuario en la Base de datos</p>
            <form action="/submit" method="post">
                <article>
                    <div id="cuerpo">
                        <div class="registro">
                            <label for="nombre" >Nombre: </label>
                            <input type="text" id="nombre" name="nombre" readonly th:value="${usuario.nombre}">
                        </div>
                        <div class="registro">
                            <label for="apellidos" >Apelidos: </label>
                            <input type="text" id="apellidos" name="apellidos" readonly th:value="${usuario.nombre}">
                        </div>
        
                        <div class="registro">
                            <label for="dni" >DNI: </label>
                            <input type="text" id="dni" name="dni" readonly th:value="${usuario.dni}">
                        </div>
                        <div class="registro">
                            <label for="email" >Email: </label>
                            <input type="email" id="email" name="email" readonly th:value="${usuario.email}">
                        </div>
                        <div class="registro">
                            <label for="telefono" >Telefono: </label>
                            <div id="tel">
                                <select id="prefijo" name="prefijo" readonly>
                                    <option th:text="${usuario.prefijo}"></option>
                                </select>
                                <input type="tel" id="telefono" name="telefono" readonly th:value="${usuario.telefono}">
                            </div>
                        </div>
                         <div class="registro">
                            <label for="anyo" >Cumpleaños: </label>
                            <input type="date" id="anyo" name="anyo" readonly th:value="${usuario.fechaNacimiento}">
                        </div>
                         <div class="registro">
                            <label for="codPostal" >Código Postal: </label>
                            <input type="text" id="codPostal" name="codPostal" readonly th:value="${usuario.codPostal}">
                        </div>
                         <div class="registro">
                            <label for="password" >Contraseña: </label>
                            <input type="password" id="password" name="password" readonly th:value="${usuario.password}">
                        </div>
                    </div>
                </article>
            </form>
        </section>
    </main>

</body>
</html>