<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Successfully</title>
    <meta name="description" content="HTML5">
    <meta name="author" content="LM">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
          <a id="back" class="btn" href="/">Inicio</a></li>
        </nav>
    </header>
   <main>
        <section>
            <article>
                <h1 th:text="${mensaje}"><h1>
            </article>
        </section>
   </main>

</body>
</html>