<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <meta name="description" content="HTML5">
    <meta name="author" content="LM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a id="back" class="btn" href="/">Inicio</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Insertar Usuario</h1>
            <p>Inserta un nuevo usuario en la Base de datos</p>
            <form action="/addUser" method="post">

                <article>
                    <div id="cuerpo">
                        <div class="registro">
                            <label for="nombre">Nombre: </label>
                            <input type="text" id="nombre" name="nombre" placeholder="Pepe" required th:value="${usuario.nombre ?: ''}">
                        </div>
                        <div class="registro">
                            <label for="apellidos">Apellidos: </label>
                            <input type="text" id="apellidos" name="apellidos" placeholder="Frances" required th:value="${usuario.apellidos ?: ''}">
                        </div>
                        <div class="registro">
                            <label for="dni">DNI: </label>
                            <input type="text" id="dni" name="dni" placeholder="00000000X" required th:value="${usuario.dni ?: ''}">
                        </div>
                        <div class="registro">
                            <label for="email">Email: </label>
                            <input type="email" id="email" name="email" placeholder="pepe@francers.com" required th:value="${usuario.email ?: ''}">
                        </div>
                        <div class="registro">
                            <label for="telefono">Teléfono: </label>
                            <div id="tel">
                                <select id="prefijo" name="prefijo" required>
                                    <option th:text="${usuario.prefijo} ?: '+###'"></option>
                                </select>
                                <input type="number" id="telefono" name="telefono" placeholder="64545463536" required th:value="${usuario.telefono ?: ''}">
                            </div>
                        </div>
                         <div class="registro">
                            <label for="anyo">Cumpleaños: </label>
                            <input type="date" id="anyo" name="anyo" required th:value="${usuario.anyo ?: ''}">
                        </div>
                         <div class="registro">
                            <label for="codPostal">Código Postal: </label>
                            <input type="number" id="codPostal" name="codPostal" placeholder="00000" required th:value="${usuario.codPostal ?: ''}">
                        </div>
                         <div class="registro">
                            <label for="password">Contraseña: </label>
                            <input type="password" id="password" name="password" placeholder="#Contraseña" required>
                        </div>
                         <div class="registro">
                            <label for="confPassword">Repetir Contraseña: </label>
                            <input type="password" id="confPassword" name="confPassword" placeholder="#Contraseña" required>
                        </div>
                    </div>
                </article>
                <!-- ✔ / X -->
                <!-- <span mostrar="true">👁</span> -->
                <!-- Enviar -->
                <button class="btn" type="submit">Enviar</button>
                <article>
                    <button class="btn btnParalelo" type="reset">Limpiar</button>
                    <a href="/listar" class="btn btnParalelo">Usuarios</a>
                </article>

            </form>
        </section>
    </main>
    
    <!-- Mostrar mensaje de error -->
    <div th:classappend="${usuario.error!=''} ? 'alertaError' : 'alertaError oculto'" id="formError">
        <input type="button" value="X" id="btnError">
        <p th:text="${usuario.error}"></p>
    </div>    
    <script src="../js/script.js"></script>

</body>
</html>
