<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Listado Usarios</title>
    <meta name="description" content="HTML5">
    <meta name="author" content="LM">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a class="btn" href="/">Inicio</a>
    </header>

    <main>
        <section class="grande">
            <article>
                <a id="addUser" class="btn btnPequenyo" href="/registro">Añadir Nuevo Usuario</a>
                <form action="#" class="grande">
                    <label for="buscador"></label>
                    <input type="search" id="buscador" name="busca" placeholder="Buscar">
                    <button id="btnBuscar" class="btn btnPequenyo">Buscar</button>
                </form>
            </article>

            <article>
                <table border="1px">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Código Postal</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jordi Gisbert</td>
                            <td>jordi@gisbert.com</td>
                            <td>17/03/2005</td>
                            <td>03410</td>
                            <td>
                                <div class="btnsUser">
                                    <article>
                                        <a href="#" class="btn btnPequenyo">Ver detalles</a>
                                    </article>
                                    <article>
                                        <a href="#" class="btn btnPequenyo" >Borrar</a></div>
                                    </article>
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>


                </table>
            </article>

        </section>
    </main>

</body>
</html>