<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Menu</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>

	<body>
		<header>
			<h1>Bienvenido al Gestor de Usuarios</h1>
		</header>
		<main>
			<section>
				<h1>Menu Aplicacion</h1>
				<h2>Opciones disponibles</h2>
				<form action="/" method="get">
					<article>
						<div id="cuerpo" class="menu">
							<button class="btn opcion" id="crear" value="crear" type="submit" name="accion">Crear Usuario</button>
							<button class="btn opcion" id="eliminar" value="eliminar" type="submit" name="accion">Eliminar Usuario</button>
							<button class="btn opcion" id="mostrar" value="mostrar" type="submit" name="accion">Mostrar por ID</button>
							<button class="btn opcion" id="mostrarTodos" value="mostrarTodos" type="submit" name="accion">Mostrar Usuarios</button>
					</article>
				</form>
			</section>
		</main>

		<script src="../js/script.js"></script>
	</body>
</html>